/* CSS Document */
* {
    marign: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #e4f2ea;
} 

.hnav{
    width: 100%;
    background-color: #11181e;
    min-height: 50px;
    text-align: center;
}

.hnav ul {
    display: block;
    padding-top: .5em;
    margin: 0;
}

.hnav ul li {
    display: inline-block;
    list-style-type: none;
    width: 10%;
    padding: 2%;
}

.hnav a {
    text-decoration: none;
    color: #e4f2ea;
    font-size: 1.5em;
    font-weight: bold;
}

nav a:hover{
    
}

header{
    min-height: 400px;
    background-color: #724f2f;
    background-image: url("../images/appearance_beagle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
}

h1{
    
}

h2{

}